div{
  border: 1px solid black;
  text-align: center;
  width: 100%;
  float: left;
  display: inline-block;
  margin: 5px;
  font-size: 34px;
}

#wrapper {
  text-align: center;
  border: 2px solid black;
}

label {
  color: green;
}

p {
  margin: 5px;
  clear: both;
}

#div3 {
  clear: both;
}